application:
	scanDirs: FALSE

services:
	- Latte\Engine
	- Zenify\ModularLatteFilters\Tests\DI\FiltersProviderSource\MathFilters

extensions:
	- Zenify\ModularLatteFilters\DI\ModularLatteFiltersExtension
